.form{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    min-width: none;
    background-color: white;
}

.form textarea {
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 5px;
    width: 90%;
    height: 100%;
    resize: none;
}

.form button{
    width: 8%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.form button img{
    width: 100%;
    height: 100%;
}

@media(max-width: 700px){
    .form textarea {
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 5px;
    width: 70%;
    height: 100%;
    resize: none;
}

.form button{
    width: 13%;
    height: 100%;
    background-color: transparent;
    border: none;
}
}