.container {
  display: grid;
  grid-template-areas:
    "footer footer footer"
    "menu header content"
    "menu feed content";
  grid-template-columns: 1fr 2fr 1fr;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
}
.container div {
  background-color: white;
 
}
.container div.header {
  grid-area: header;
  padding: 3px;
}
.container div.menu {
  grid-area: menu;
}
.container div.content {
  grid-area: content;
}

.container div.feed {
  grid-area: feed;
  height: 70vh;
}

.container div.footer {
  grid-area: footer;
  display: flex;
  justify-content: end;  
}


@media(max-width: 700px){
.container {
  display: grid;
  grid-template-areas:
    "footer "
    " feed "
    " header ";
  grid-template-columns: 1fr ;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
}

.container div.header {
  grid-area: header;
  padding: 3px;
  height: 50px;
}

.container div.menu {
  grid-area: menu;
  display: none;
}
.container div.content {
  grid-area: content;
  display: none;
}

.container div.feed {
  grid-area: feed;
  height: 70vh;
}

.container div.footer {
  grid-area: footer;
  text-align: center;
  background-color: white;
}

}