.container {
  display: grid;
  grid-template-areas:
    "menu header content"
    "menu feed content"
    "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
}
.container div {
  background-color: white;
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
}
.container div.content {
  grid-area: content;
}

.container div.feed {
  grid-area: feed;
}

.container div.footer {
  grid-area: footer;
  text-align: center;  
}