*{
    margin: 0;
}

.Navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(16, 24, 40, 0.349);
}

.partedecima{
    margin: 12px 0;
    width: 80%;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.logo{
    display: block;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 140px;
}

.logo img{
    height: 30px;
}

.logo a{
    text-decoration: none;
}


.logo h1{
    font-size: 1.15rem;
    font-family: Helvetica, sans-serif;
    color: #0f172a;
    margin-left: 6px;
}

.pesquisa{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pesquisa a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.767);
}

.pesquisa a h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 5px #0891b2;
    font-size: 0.9rem;
}


.partedebaixo::-webkit-scrollbar{ 
    height: 0; 
    display: none;
} 


@media(max-width: 700px){
    .pesquisa {
        display: none;
    }
    .partedecima{
        width: 90%;
    }

    .links{
        width: 20%;
    }

    .pesquisa{
        width: 70%;
    }

    .partedebaixo{
        width: 90%;
        gap: 10px;
        padding: 0px;
    }

    .partedebaixo p{
        display: inline-block;
        white-space: nowrap;
        padding: 5px 10px;
        margin-right: 8px;
        flex: none;
        text-align: left;
    }

}

